div#zentai {
    background: linear-gradient(0.4turn,white, #89e3ff)
}
input{
margin-top: 6px;
margin-left: 6px;
}
ul{
    margin: 12px;
}
div#main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 200px 200px;
	grid-gap: 10px;
	width: 50%;
}
iframe#map{
    margin: 10px;
}